html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1em
}




#title {
    font-size: 2em;
    font-family: cursive;
    margin: auto;
    position: fixed;
    background-color: red;
}

#container {

}

#navbar {

}

.navbutton {
    display: inline;
    padding: 1em 1em 1em 1em;
    border: 2px solid black;
    z-index: 1;
}

.navbutton:hover {
    text-decoration: underline white;
}

body {
    background: eurl(background.jpg)
}
